<div class="container py-4 container-background">

<!-- Search Part 
<div class="row justify-content-center">
  <div class="col-md-10">
    <form action="/search" method="get" id="searchForm" class="input-group">
      <input type="text" name="query" class="form-control" placeholder="Enter search term..." aria-label="Search Term" style="flex-grow: 2;">
      <select name="searchType" class="form-select" style="max-width: 150px;">
        <option value="internal">Internal</option>
        <option value="google">Google</option>
        <option value="bing">Bing</option>
      </select>
      <button type="submit" class="btn btn-primary" style="flex-grow: 0.5;">Search</button>
    </form>
  </div>
</div>
-->

<!-- Popular AI Links -->
<div class="p-5 mb-4 container-background rounded-3">
  <div class="container-fluid py-5 container-background">

    <!-- Hot AI Tools Section -->
<div class="container mt-5">
  <h2 class="text-center mb-4">Hot AI Tools</h2>
  <div class="row">
    <!-- 以下每个卡片的样式和之前定义的卡片保持一致 -->
    <% const hotTools = [
      { name: 'ChatGPT', description: 'A chatbot based on large language models.', url: 'https://chat.openai.com', imageUrl: 'ChatGPT.png' },
      { name: 'Microsoft Copilot', description: 'An AI assistant developed by Microsoft.', url: 'https://copilot.microsoft.com', imageUrl: 'MicrosoftCopilot.png' },
      { name: 'Grammarly', description: 'A digital writing tool using AI.', url: 'https://www.grammarly.com/', imageUrl: 'Grammarly.png' },
      { name: 'Midjourney', description: 'A creative and imaginative tool powered by AI. ', url: 'https://www.midjourney.com', imageUrl: 'Midjourney.png' },
      { name: 'JasperAI', description: 'A business copy generator. ', url: 'https://www.jasper.ai', imageUrl: 'JasperAi.png' },
      { name: 'QuillBot', description: 'A AI-powered Paraphasing tool. ', url: 'https://quillbot.com', imageUrl: 'QuillBot.png' },
      { name: 'Bard', description: "Google's conversational AI tool. ", url: 'https://bard.google.com', imageUrl: 'Bard.png' },
      { name: 'Synthesia', description: "An AI-driven platform for creating realistic synthetic videos. ", url: 'https://www.synthesia.io', imageUrl: 'Synthesia.png' },
      { name: 'Resemble', description: "An AI platform crafting synthetic, realistic voices for content. ", url: 'https://www.resemble.ai', imageUrl: 'Resemble.png' },
      { name: 'Removebg', description: "A customizable AI tool for generative art applications. ", url: 'https://www.remove.bg', imageUrl: 'Removebg.png' },
      { name: 'Stability', description: "A tool to remove image backgrounds using AI. ", url: 'https://stability.ai', imageUrl: 'Stability.png' },
      { name: 'GitHub Copilot', description: "A famous AI developer tool. ", url: 'https://github.com/features/copilot', imageUrl: 'GitHubCopilot.png' },
      
    ]; %>

    <% hotTools.forEach(link => { %>
     <div class="mb-4 mx-0.5" style="max-width: 300px; max-height: 120px">
      <a href="<%= link.url %>" target="_blank" class=" text-decoration-none">
          <div class="card h-100 card-fixed-height card-hover" >
              <div class="row g-0" >
                <div class="col-md-3 d-flex align-items-center justify-content-center">
                  <% if(link.imageUrl) { %>
                    <img src="/Assets/linkLogos/<%= link.imageUrl %>" class="img-fluid rounded-start" style="width: 50px; height: 50px;">
                  <% } %>
                </div>
                <div class="col-md-9">
                  <div class="card-body">
                    <h6 class="card-title"><small><%= link.name %></small></h6>
                    <p class="card-text lh-sm"><small class="text-body-secondary"><%= link.description %></small></p>
                  </div>
                </div>
              </div>
          </div>
          </a>
      </div>
    <% }) %>

  </div>
</div>

<!-- AI Links Section 
<% if(categorizedLinks && Object.keys(categorizedLinks).length > 0) { %>
  <% for(let category in categorizedLinks) { %>
    <h2 class="mt-4 text-center"><%= category %></h2>
    <div class="row">
      <% categorizedLinks[category].forEach(link => { %>
        <div class="col-md-4 mb-3">
          <a href="<%= link.url %>" target="_blank" class=" card-hover2">
            <div class="card h-100 text-center card-hover">
              <div class="card-body">
                <% if(link.imageUrl) { %>
                  <img src="<%= link.imageUrl %>" alt="<%= link.name %>" class="img-fluid rounded-circle" style="width: 100px; height: 100px; object-fit: cover;">
                <% } %>
                <h5 class="card-title mt-3"><%= link.name %></h5>
                <p class="card-text"><%= link.description %></p>
              </div>
            </div>
          </a>
        </div>
      <% }) %>
    </div>
  <% } %>
<% } else { %>
  <p>No AI Links found.</p>
<% } %>
-->
  </div>
</div>
</div>
