<div class="container py-4 container-background">
<!-- Main content of News -->
  <div class="p-5 mb-4 container-background rounded-3">
    <div class="container-fluid py-5 container-background">
      <h1 class="display-1 fw-bold"><%= article.title %></h1>
       <p>By <%= article.author.displayName %> - <%= article.publishedAt.toDateString() %></p>
       <% if (article.coverImage) { %>
            <img src="<%= article.coverImage %>" alt="Cover Image" style="max-width: 100%">
       <% } %>
        <div class="article-content">
            <%- article.content %>
        </div>

        <!-- More article info -->
        <% if (article.summary) { %>
            <div class="article-summary">
                <p><%= article.summary %></p>
            </div>
        <% } %>

        <div class="article-content">
            <%- article.content %>
        </div>

        <!-- category -->
        <% if (article.category) { %>
            <div class="article-category">
                <p>Category: <%= article.category.name %></p>
            </div>
        <% } %>

        <!-- tags -->
        <% if (article.tags && article.tags.length > 0) { %>
            <div class="article-tags">
                <p>Tags:   
                    <% article.tags.forEach(function(tag, index) { %>
                    <%= tag.name %><%= index !== article.tags.length - 1 ? ', ' : '' %>
                    <% }); %>
                </p>
            </div>
        <% } %>

        <!-- likes and views data -->
        <div class="article-stats">
            <p>Likes: <%= article.likes %></p>
            <p>Views: <%= article.views %></p>
        </div>

    </div>
  </div>
</div>