<div class="container py-4 container-background">
    <!-- Main content of Blog -->

    <% for(let count = 0; count < articles.length; count++) { %>
    <div class="row">
        <div class="col-md-12">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-body">
            <h2 class="card-title"><%= articles[count].title %></h2>
            <p>By <%= articles[count].author %> on <%= new Date(articles[count].publishedAt).toLocaleDateString() %></p> <!-- format date-->
            <p class="card-text"><%= articles[count].summary %></p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                <a href="/article/<%= articles[count]._id %>" class="btn btn-sm btn-outline-secondary">View</a>
                </div>
                <small class="text-muted"><%= new Date(articles[count].publishedAt).toLocaleDateString() %></small>
            </div>
            </div>
        </div>
        </div>
    </div>
    <% } %>

    <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <% if (currentPage > 1) { %>
            <li class="page-item"><a class="page-link" href="?page=<%= currentPage - 1 %>">Previous</a></li>
        <% } %>
        <% for (let i = 1; i <= totalPages; i++) { %>
            <li class="page-item <%= i === currentPage ? 'active' : '' %>"><a class="page-link" href="?page=<%= i %>"><%= i %></a></li>
        <% } %>
        <% if (currentPage < totalPages) { %>
            <li class="page-item"><a class="page-link" href="?page=<%= currentPage + 1 %>">Next</a></li>
        <% } %>
    </ul>
</nav>

</div>


