<div class="row justify-content-lg-center g-3">
    <h1 class="text-center"><%= title %> User </h1>

    <form method="POST" class="col-lg-6 col-md-10 col-sm-10">
        <div class="input-group mb-3">
            <span class="input-group-text" id="username">Username</span>
            <input id="username" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="Username"
            name="username" value="<%= user.username %>" required>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="email">Email</span>
            <input id="email" type="email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="Email"
            name="email" value="<%= user.email %>" required>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="displayName">Display Name</span>
            <input id="displayName" type="text" class="form-control" placeholder="Display Name" aria-label="Display Name" aria-describedby="Display Name"
            name="displayName" value="<%= user.displayName %>" required>
        </div>

        <div class="input-group mb-3">
            <label class="input-group-text" for="role">Role</label>
            <select class="form-select" id="role" name="role" required>
                <option value="user" <%= user.role === 'user' ? 'selected' : '' %>>User</option>
                <option value="author" <%= user.role === 'author' ? 'selected' : '' %>>Author</option>
                <option value="admin" <%= user.role === 'admin' ? 'selected' : '' %>>Admin</option>
            </select>
        </div>

        <div class="input-group mb-3">
            <label class="input-group-text" for="isActive">IsActive</label>
            <select class="form-select" id="isActive" name="isActive" required>
                <option value="true" <%= user.isActive === true ? 'selected' : '' %>>True</option>
                <option value="false" <%= user.isActive === false ? 'selected' : '' %>>False</option>
            </select>
        </div>
        
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="submit" class="btn btn-success" id="updateButton"><i class="fas fa-edit fa-lg"></i> Update</button>
            <a href="/userManagement" id="cancelButton" class="btn btn-info "><i class="fas fa-undo-alt"></i> Cancel</a>
        </div>
    </form>
</div>
