<h1><%= title %></h1>
<br>
<a href="/dashboard" class="btn btn-primary">Go to your Dashboard</a>
<div class="row">
    <div class="col">
        <table class="table table-striped table-bordered table-hover">
            <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">User Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">DisplayName</th>
                    <th scope="col">Role</th>
                    <th scope="col">isActive</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% for(let count=0; count < users.length; count++) { %>
                    <!-- Repeatable Row Template -->>
                    <tr>
                        <th scope="row"><%= count + 1 %></th>
                        <td><%= users[count].username %></td>
                        <td><%= users[count].email %></td>
                        <td><%= users[count].displayName %></td>
                        <td><%= users[count].role %></td>
                        <td><%= users[count].isActive ? 'Active' : 'Inactive' %></td>

                        <td class="text-center"><a href="/userManagement/update/<%= users[count]._id %>" class="btn btn-primary btn-sm update"><i class="fas fa-edit fa-sm"></i> Update</a></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</div>